/****************************************************************************/
/* index_style.css                                                          */
/* Last Implemented by: Faith A Ocitti                                      */
/* Last Implemented on: June 5th 2017                                       */
/* Purpose: This document provides rules for the index.html.                */
/****************************************************************************/

body {
	background-image: url("image2.jpg");
}

h1 {
	font-family: monospace;
	font-size: 55px;
	color: #FFFFFF;
	animation: typwriter 3s steps(19);
	overflow: hidden;
	white-space: nowrap;
}

h2 {
	text-align: center;
	animation: appear 3.5s steps(1);
	overflow: hidden;
	white-space: nowrap;
	float:left;
	bottom: 0;
	position: fixed;
}

a {
	font-size: 23px;
	font-family: monospace;
	color: #FFFFFF;
}

h3 {
	text-align: center;
	animation: appear 3.5s steps(1);
	overflow: hidden;
	white-space: nowrap;
	right:0;
	bottom: 0;
	position: fixed;
}


@keyframes typwriter {
	from {
		width: 0;
	}
	to {
		width: 19ch;
	}
}

@keyframes appear {
	from {
		width: 0;
	}
	to {
		width: 50ch;
	}
}